.counterContainer {
	/* background: url("Asset/ghost2.jpg"); */
	margin-top: 2em;

	> * {
		margin-bottom: 10px;
	}
}

.heading {
	font-size: 48px;
	color: rgb(226, 43, 171);
}

.image {
	width: 500px;
}
