// POPPINS
@font-face {
  font-family: "poppins-extra-light";
  src: url("Asset/fonts/poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "poppins-extra-light-italic";
  src: url("Asset/fonts/poppins/Poppins-ExtraLightItalic.ttf");
}
@font-face {
  font-family: "poppins-light";
  src: url("Asset/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-light-italic";
  src: url("Asset/fonts/poppins/Poppins-LightItalic.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("Asset/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-italic";
  src: url("Asset/fonts/poppins/Poppins-Italic.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("Asset/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-medium-italic";
  src: url("Asset/fonts/poppins/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("Asset/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-bold-italic";
  src: url("Asset/fonts/poppins/Poppins-BoldItalic.ttf");
}

// RUBIK
@font-face {
  font-family: "rubik-light";
  src: url("Asset/fonts/rubik/Rubik-Light.ttf");
}
@font-face {
  font-family: "rubik-light-italic";
  src: url("Asset/fonts/rubik/Rubik-LightItalic.ttf");
}
@font-face {
  font-family: "rubik-regular";
  src: url("Asset/fonts/rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "rubik-italic";
  src: url("Asset/fonts/rubik/Rubik-Italic.ttf");
}
@font-face {
  font-family: "rubik-medium";
  src: url("Asset/fonts/rubik/Rubik-Medium.ttf");
}
@font-face {
  font-family: "rubik-medium-italic";
  src: url("Asset/fonts/rubik/Rubik-MediumItalic.ttf");
}
@font-face {
  font-family: "rubik-bold";
  src: url("Asset/fonts/rubik/Rubik-Bold.ttf");
}
@font-face {
  font-family: "rubik-bold-italic";
  src: url("Asset/fonts/rubik/Rubik-BoldItalic.ttf");
}
