.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}
.flex-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.ai-start {
	align-items: flex-start;
}
.ai-center {
	align-items: center;
}
.ai-end {
	align-items: flex-end;
}
.ac-start {
	align-content: flex-start;
}
.ac-center {
	align-content: center;
}
.ac-end {
	align-content: flex-end;
}

.ji-start {
	justify-items: flex-start;
}
.ji-center {
	justify-items: center;
}
.ji-end {
	justify-items: flex-end;
}
.jc-start {
	justify-content: flex-start;
}
.jc-center {
	justify-content: center;
}
.jc-end {
	justify-content: flex-end;
}
