.card {
	background-color: yellowgreen;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	margin-bottom: 10px;
	border: 2px solid black;
}

.reducedOpacity {
	opacity: 0.4;
}
